/* work sans font form google drive */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}
*{
    margin: 0;
    padding: 0;
}

.nav-containar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 25px;
}
.nav-design{
   color:#FF42A5 ;

}
.nav-image{
    width:100%;
}
.nav-menus{
    display: flex;
   list-style: none;
   gap: 20px;
}
.rapid{
    display: flex;
    gap: 10px;
}
.mehedi{
    font-size: 30px;
    font-weight: 800;
}
.nav-menus li{
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-weight: 500; 
}
.icon-color{
    text-align: center;
    width:150px;
    height: 40px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.section-2{
    margin-top: 100px;
}
.toy-story{

    width: 90%;
    margin: auto;
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 40px;
}

.containar-one p{
    color: #0B0223;
    font-size: 30px;
    font-weight: 800;

}

.containar-one h1{
    font-size: 60px;
    font-weight: 900;
    /* color:#B459FF; */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}
.containar-one li{
    list-style: none;
}

.edit-photo{
    width:100%;
}
.btn-primary{
    padding: 18px 40px 18px 40px;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    border-radius: 48px;
    background:  #FF42A5;
    margin-top: 16px;
}
.btn-secondary{
    padding: 18px 40px 18px 40px;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    margin-top: 10px;

}


/* <!-- it is third part of project --> */

.new-section{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    
}

.banner-image{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 30px;

}

.banner-section{
    padding-left: 50px;
    width:  100%;
   
}

.banner-title-two{
            text-align:center;
            padding: 40px;
}
.banner-title-two h2{
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-title-two p{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}
.banner-info{
    color: #534C64;
    font-size: 18px;
    font-weight: 700;
}

/* <!-- it is part of four of our project  --> */


.rode-map {
text-align: center;
margin-top: 70px;
}

.rode-map h1{
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
}
.paragraph{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

/* <!-- it is part of five of our project  --> */

.tablet-photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
   

}

.mobile-photo{
   
    width: 100%;
}

/* <!-- it is part of six of our project  --> */

.negative{
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.connection{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    /* /* justify-content: space-between; */
    align-items:flex-start;
    padding: 50px;
    width: 80%;
    margin: auto;

    gap: 70px;
}
.photo-connection{
    margin-left: 80px;
    width:90% ;
  
}

.inter-connection{
    width: 50%;
    /* padding: 50px; */
    position:absolute;
   bottom: -20px;
   left: 40px;

}
.connection-one{
   width: 40%;
   position: relative;
}

.connection-two{
    text-align: center;
    margin-top: 50px;
}
.connection-two p{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}


.connection-two h1{
    color: #0B0223;
    font-size: 50px;
    font-weight: 800;
}

/* <!-- it is a part of seven of our project --> */
.containar-5{
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* justify-content: space-between; */
    gap: 10px;
    text-align: center;
    
}

/* .container-4{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
} */
.box{
    display: flex;
    gap:10px;
    text-align: center;
}
/* it is last and footer project */

footer{
    margin-top: 100px;
    padding: 20px;
    color: white; 
    background: #0B0223;
}
.footer-high{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}
.navi-blue{
    color: #F948B2;
}
.white{
    
    text-align: center; 
    font-size: 30px;
    font-weight: 700;
}


.mosque{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    gap: 30px;
    margin-top:5px;
    /* padding: 40px; */
   width: 70%;
   margin: auto;
   padding-top: 30px;
   padding-bottom: 10px;
}
.discover{
    display: flex;
    text-align: center;
    justify-content: center;
  
    align-items: center;
    gap: 30px;
}
.entertainment{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    list-style: none;
    width: 70%;
   margin: auto;
   padding-top: 30px;
   padding-bottom: 10px;
}
.play-game{
 text-align: center;
 margin-top: 20px;
}


/* display greed korbo ekhane  */


.box:hover{
    border: 2px solid orange;
    /* padding: 5px; */
    border-radius: 20px;
    transition-duration: .5s;
}











@media screen and (max-width: 576px) {
    .nav-containar,
    .nav-menus, 
    .connection {
        flex-direction: column;
    }
    .tablet-photo{
        grid-template-columns: repeat(1,1fr);
    }
    .toy-story{
        width: 80%;
        padding: 30px;
        margin: auto;
        display: grid ;
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
    }
    .banner-image{
        grid-template-columns: repeat(1,1fr);
    }
        .mosque{
            grid-template-columns: repeat(3,1fr);
            width: 90%;

        }
        .entertainment{
            grid-template-columns: repeat(2,1fr);
        }

        .containar-5{
            grid-template-columns: repeat(2,1fr);
            width: 100%;
            
        }
        .btn-secondary{
            margin-top: 10px;
        }
    }

    /* .tablet er jonno */

    @media screen and (min-width:576px) and (max-width: 960px){
    .nav-containar,
    .nav-menus, 
    .connection {
        flex-direction: column;
    }
    .tablet-photo{
        grid-template-columns: repeat(2,1fr);
    }
    .toy-story{
        width: 80%;
        padding: 30px;
        margin: auto;
        display: grid ;
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
    }
    .banner-image{
        grid-template-columns: repeat(2,1fr);
    }
        .mosque{
            grid-template-columns: repeat(4,1fr);
            width: 90%;

        }
        .entertainment{
            grid-template-columns: repeat(2,1fr);
        }

        .containar-5{
            grid-template-columns: repeat(4,1fr);
            width: 100%;
            
        }
    }